include includes/head.pug
title="hsd@database"
script(src='static://allshows.js')
link(rel='stylesheet', href='static://allshows.css')
include includes/topMenu.pug
main.container-fluid.mt-2(style='position:absolute;overflow-y:auto;bottom:0;top:22px;')
    .row.mt-4.mb-0.mx-1
        h2.hs HorribleSubs <br>
    .row.mt-0.mx-1
        h3 Anime database 
    .mt-4
        table.table.table-hover.table-dark.table-striped.table-bordered.table-sm.d-none(style="width:100%")
            thead
                tr.bg-secondary
                    th Watch
                    th Anime
                    th MAL
            tbody
                each show in shows
                    tr
                        td.align-middle.text-center(style="width:1%;")
                            a.goto(href='pug:/'+show.url) <i class="fas fa-film"></i>
                        td.align-middle #{show.name}
                        td.align-middle.text-center.MAL(style="width:1%;", data-name=show.name, data-showlink=show.showLink data-search=show.name) <i class="fas fa-info-circle"></i>