include includes/head.pug
script(src='/static/files.js')
link(rel='stylesheet', href='/static/files.css')
include includes/topMenu.pug
main.container.mt-2(style='position:absolute;overflow-y:auto;bottom:0;top:30px;')
    .mt-4
        h1.text-center DOWNLOADED FILES
        h4 TOTAL SIZE : #{files.total}
        p.lead #{path}
        .form-check.form-check-inline.w-100
            input#selectall.form-check-input(type="checkbox")
            label.form-check-label(for='selectall') select all
            .offset-2
                button#delete.btn.btn-danger.btn-sm(type='button', title='delete selected files') <i class="far fa-trash-alt"></i>
        table#filelist.table.table-hover.table-dark.table-striped.table-bordered.table-sm(style="width:100%")
            thead
                tr.bg-secondary
                    th Filename
                    th File Size
            tbody
                each file in files.list
                    tr(data-filename=file.filename)
                        td #{file.filename}
                        td(data-order=file.size) #{file.sizeH}