include includes/head.pug
link(rel='stylesheet', href='/static/topMenu.css')
body.bg-dark.text-white(style='overflow:hidden')
    nav.navbar.navbar-expand.navbar-dark.bg-darker.sticky-top.drag
        #navbarSupportedContent.collapse.navbar-collapse
            ul.nodrag.navbar-nav.mr-auto
                a#prev.nav-link <i class="fas fa-chevron-circle-left"></i>
            ul.nodrag.navbar-nav.ml-auto
                a#minimize.nav-link <i class="far fa-window-minimize"></i>
                a#resize.nav-link <i class="far fa-window-maximize"></i>
                a#hide.nav-link <i class="fas fa-times"></i>
    main.container-fluid(style='position:absolute;overflow-y:auto;bottom:0;top:24px;')
        .row.mt-2
            .div.col-12
                img(src='https://cdn.myanimelist.net/images/mal-logo-xsmall.png?v=180226001')
                h3 Search Results
            table#searchlist.table.table-hover.table-dark.table-striped.table-bordered.table-sm(style="width:100%")
                thead
                    tr.bg-secondary
                        th &#8195;&#8195;
                        th Anime
                tbody
                    each item in items
                        tr
                            td
                                img.img-fluid(src=item.thumbnail_url)
                            td
                                a(href=item.url) #{item.name.replace(/\(\w+\)$/, '')}
                                sup.text-muted (#{item.payload.media_type})
                                br
                                span.text-muted #{item.payload.start_year}
    webview#my.d-none.container-fuid.p-0.w-100(src='', style='position:absolute;overflow-y:auto;bottom:0;top:24px;', height="100%", width='100%', frameBorder="0")
    script.
      window.onbeforeunload = (e) => {
        e.preventDefault()
        remote.getCurrentWindow().hide()
      };
        $(document).ready(() => {
            $('table').on('click', 'td > a', function(e) {
              e.preventDefault()
              $('#my').attr('src', $(this).attr('href'))
              $('main').toggleClass('d-none')
              $('#my').toggleClass('d-none')
            })

            $('#prev').on('click', function(e) {
              $('main').toggleClass('d-none')
              $('#my').toggleClass('d-none')
            })
                

            $('table.table').DataTable({
                "paging": false,
                "searching": false,
                "info": false,
                "order": [
                    [0, "desc"]
                ],
            });
        }}