include includes/head.pug
script(src='//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js')
link(rel='stylesheet', href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css')
body.bg-dark.text-white(style='overflow:hidden')
    nav.navbar.navbar-expand.navbar-dark.bg-darker.sticky-top.drag
        #navbarSupportedContent.collapse.navbar-collapse
            ul.nodrag.navbar-nav.mr-auto
                a#prev.nav-link <i class="fas fa-chevron-circle-left"></i>
            ul.nodrag.navbar-nav.ml-auto
                a#minimize.nav-link <i class="far fa-window-minimize"></i>
                a#resize.nav-link <i class="far fa-window-maximize"></i>
                a#exit.nav-link <i class="fas fa-times"></i>
    main.container-fluid(style='position:absolute;overflow-y:auto;bottom:0;top:24px;')
        .row.mt-2
            .div
                img(src='https://cdn.myanimelist.net/images/mal-logo-xsmall.png?v=180226001')
                h3 Search Results
            table#searchlist.table.table-hover.table-dark.table-striped.table-bordered.table-sm(style="width:100%")
                thead
                    tr.bg-secondary
                        th &#8195;&#8195;
                        th Anime
                        //- th File Size
                tbody
                    each item in items
                        tr
                            td
                                img.img-fluid(src=item.thumbnail_url)
                            td
                                a(href=item.url) #{item.name.replace(/\(\w+\)$/, '')}
                                sup.text-muted (#{item.payload.media_type})
                                br
                                span.text-muted #{item.payload.start_year}
    webview#my.d-none.container-fuid.p-0.w-100(src='', style='position:absolute;overflow-y:auto;bottom:0;top:24px;', height="100%", width='100%', frameBorder="0")
    script.
        $(document).ready(() => {
            $('table').on('click', 'td > a', function(e) {
              e.preventDefault()
              $('#my').attr('src', $(this).attr('href'))
              $('main').toggleClass('d-none')
              $('#my').toggleClass('d-none')
            })

            $('#prev').on('click', function(e) {
              $('main').toggleClass('d-none')
              $('#my').toggleClass('d-none')
            })
                

            $('table.table').DataTable({
                "paging": false,
                "searching": false,
                "info": false,
                "order": [
                    [0, "desc"]
                ],
            });
        })
style.
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 11px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

 .bg-darker {
    background-color:rgba(70, 70, 70, 1);
 }
 nav.sticky-top {
     padding: 0;
     padding-left:1rem;
     font-size:0.5rem;
     user-drag:none;
     user-select:none;
     -webkit-user-select: none;
     -webkit-user-drag:none;
 }
 .navbar-brand {
     margin-right:0;
     font-size:1rem;
     transform: scale(1.3);
 }
 .dropleft .dropdown-toggle::before {
   content:none
 }
 .nav-link.dropdown-toggle::after{
    user-drag:none;
     user-select:none;
     -webkit-user-select: none;
     -webkit-user-drag:none;
     content:none;
 }
 .dropdown-menu.bg-darker {
     user-drag:none;
     user-select:none;
     -webkit-user-select: none;
     -webkit-user-drag:none;
     padding: 0; 
     margin: 0; 
     border: 1px solid rgba(0,0,0,.15); 
     border-radius: 0;
 }
 .nav-item.dropleft:focus,
 .nav-item.dropleft:hover,
 #minimize:hover,
 #minimize:focus,
 #resize:hover,
 #resize:focus {
    background-color: #545454
 }
 .dropdown-item:focus,
 .dropdown-item:hover {
     color: #fff!important;
     background-color: #005998;
 }
 .dropdown-item {
      padding: .1rem .5rem;
      font-size:0.8rem;
      user-drag:none;
      user-select:none;
     -webkit-user-select: none;
     -webkit-user-drag:none;
 }

  a#exit:hover {
    background-color:red;
  }

  a.nav-link.scale {
    transform:scale(1.8)
  }
  a.nav-link.scale > sup {
    transform: scale(0.5);
    left: -0.2rem;
  }
  .form-inline.mr-auto.ml-auto > input.form-control {
   font-size: inherit;
    font-weight: inherit; 
  }
  .drag {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }
  .nodrag {
    -webkit-app-region: no-drag;
  }
  ul.nodrag.navbar-nav.mr-auto {
    transform: scale(1.7);
  }