include includes/head.pug
link(rel='stylesheet', href='static://topMenu.css')
link(rel='stylesheet', href='module://bootstrap4-toggle/css/bootstrap4-toggle.min.css')
body.bg-dark.text-white(style='overflow:hidden')
	nav.navbar.navbar-expand.navbar-dark.bg-darker.sticky-top.drag
		#navbarSupportedContent.collapse.navbar-collapse
			a.navbar-nav(style='transform: scale(1.5);') Settings
			ul.nodrag.navbar-nav.ml-auto
				a#minimize.nav-link <i class="far fa-window-minimize"></i>
				a#resize.nav-link <i class="far fa-window-maximize"></i>
				a#hide.nav-link <i class="fas fa-times"></i>
	main.container-fluid.p-0(style='position:absolute;overflow-y:auto;bottom:0;top:24px;overflow-x:hidden')
		.row.mt-4.p-3
			.col-12
				h4.text-center.text-uppercase
					u Updates
		.row.px-3.py-2
			.col.align-self-start.align-self-center
				| Update rate
			.col-4.align-self-end.text-right.align-self-center
				if(settings.refreshIndex < 3540000)
					input#minutes.form-control-sm(type='number', min="1", max="999" style="width: 5em", value=settings.refreshIndex/60000)
					select#duration.form-control-sm.ml-2
						option(selected) Minute(s)
						option Hour(s)
						option Day(s)
				else if(settings.refreshIndex > 3540000 && settings.refreshIndex < 86300000)
					input#minutes.form-control-sm(type='number', min="1", max="999" style="width: 5em", value=settings.refreshIndex/3600000)
					select#duration.form-control-sm.ml-2
						option Minute(s)
						option(selected) Hour(s)
						option Day(s)
				else if(settings.refreshIndex > 86300000)
					input#minutes.form-control-sm(type='number', min="1", max="999" style="width: 5em", value=settings.refreshIndex/86400000)
					select#duration.form-control-sm.ml-2
						option Minute(s)
						option Hour(s)
						option(selected) Day(s)  
		.row.px-3.py-2
			.col.align-self-start.align-self-center
				| Month(s) before episodes are removed from the main page
			.col-3.align-self-end.text-right.align-self-center.text-right
				input#epi.form-control-sm(type="number", min="1", style="width:60px", value=settings.keepIndex)
		.row.px-3.py-2
			.col.align-self-start.align-self-center
				| Check for updates at startup
			.col-3.align-self-end.text-right.align-self-center.text-right
				if settings.startupCheck
					input#checkstartup(type='checkbox', data-toggle="toggle", data-size="xs", checked)
				else
					input#checkstartup.custom-control-input(type='checkbox')
		.row.mt-4.p-3.border.border-bottom-0
			.col-12
				h4.text-center.text-uppercase
					u File Manager
		.row.px-3.py-2
			.col.align-self-start.align-self-center
				span Download Location<br/>
					small#path #{settings.path}
			.col.align-self-end.text-right.align-self-center.text-right
				button#folder.btn.btn-sm.btn-light CHANGE
		.row.px-3.py-2
			.col.align-self-start.align-self-center
				span Download Folder max size warning (
					i.fas.fa-hdd.mx-1
					i.fas.fa-hdd.text-warning.mx-1
					i.fas.fa-hdd.text-danger.mx-1
				| )
			.col.align-self-end.text-right.align-self-center.text-right
				span  Size in GB :
				input#size.form-control-sm.m-2(type='number', min="0", max="999" style="width: 5em", value=settings.pathSize)
		.row.px-3.py-5
			.col-12.text-center
				button.btn.btn-primary.hide#saveSettings(type="submit") SAVE SETTINGS
script.
	$('#folder').on('click', function(){
		remote.dialog.showOpenDialog({defaultPath: $("#path").text().replace(' *not saved', ''), properties: ['openDirectory', 'createDirectory']}).then((e) => {
			if(e.filePaths[0]) {
				$("#path").html(e.filePaths[0]+ " <span class='text-warning'>*not saved</span>")
			} else {
				$("path").html('#{settings.path}')
			}
			
		})
	})
	$('#saveSettings').on('click', function() {
		let durationType = $('#duration')[0].value
		let durationValue = $('#minutes')[0].value
		let duration;
		if(durationType === 'Minute(s)') {
			duration = durationValue * 60000
		} else if (durationType === 'Hour(s)') {
			duration = durationValue * 3600000
		} else if (durationType === 'Day(s)') {
			duration = durationValue * 86400000
		}
		let startupcheck = $('#checkstartup')[0].checked
		let downloads = $('#path').text().replace(' *not saved', '')
		let size = $('#size')[0].value

			const res  = {
				keepIndex: $('#epi')[0].value,
				refresh : duration,
				startupCheck: startupcheck,
				path: downloads,
				pathSize: size
			}
			ipc.send('settings-save', res)
	})
style.
	a#hide:hover {
		background-color:red!important;
	}
	ul.nodrag.navbar-nav.mr-auto {
		transform: scale(1.7)!important;
	}
	.row.px-3.py-2:nth-child(even) {
		background-color: #212529;
	}
	.form-row {
		padding:2%;
	}
	.form-control-sm {
		height: calc(1.5em + .5rem + 2px);
		padding: .25rem .5rem;
		font-size: .7rem;
		line-height: 1;
		border-radius: 0.5rem;
	}
	.row.px-3.py-2, input {
		font-size: 0.9rem;
	}
